# Build
/build/
/out/

# Visual Studio
.vs/
*.VC.db

# CMake
CMakeCache.txt
CMakeFiles/
cmake-build-*/

# Compiled files
*.obj
*.exe
*.pdb
*.ilk
*.lib
*.dll

# User files
*.user
*.suo

# Misc
.DS_Store